/*--------------------------------------------------------------
BASE
--------------------------------------------------------------*/

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/*--------------------------------------------------------------
ELEMENT
--------------------------------------------------------------*/

header a{
    font: 700 2.4rem 'Merriweather', sans-serif;
}

header li a{
    font: 700 1.8rem "Roboto", sans-serif;
    text-decoration: none;
    list-style: none;
}


